.div{
    width: 100%;
    height: 30rem;
    background-image: url('../public/images/blue-bag.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    animation: silence;
    animation-duration: 1s;

}

@keyframes silence {
    from {opacity: 0};
    to {opacity: 100%};
}