.container {
    margin: 0;
}

.brand {
    padding: 2px;
    align-self: center;
    margin: 0 10px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    height: 8%;
}

.main {
    margin: 5% 0 10%;
    padding: 1rem;
    height: 82%;
}

.footer {
    position: fixed;
    bottom: 0;
    color: black;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
    z-index: 5;
    height: 8%;
}

.bigboy {
    float: left;
}

.ul {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    list-style: none;
}

.li {
    width: 50%;
}


.select {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    text-align: center;
    color: antiquewhite;
    background-color: black;
}


.select:focus {
    outline: none;
}