.container {
    margin: 0;
    position: relative;
}

.brand {
    padding: 2px;
    align-self: center;
    margin: 0 10px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    height: 3.5rem;
    padding-right: 1rem;
}

.main {
    margin: 2.3rem 0 3rem;
    padding: 1rem;
    height: 82%;
    position: relative;
}

.footer {
    position: relative;
    bottom: 0;
    color: black;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
    z-index: 5;
    padding: 1rem;
}

.table{
    width: 100%;
    margin: 1.5rem auto ;
}

.p{
    margin: 1rem auto 0;
}

.icon{
    font-size: 2rem;
    margin:0 1rem ;
    color: brown;
}

.mark{
    color:red;
    font-size: 1.2rem;
    text-decoration: underline;
}

.divIcons{
    margin: 1rem auto;
}

.bigboy {
    float: left;
}

.ul {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    list-style: none;
}

.li {
    width: 50%;
}


.select {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
    color: antiquewhite;
    background-color: black;
    width: 80%;
}


.select:focus {
    outline: none;
}

@media screen and (min-width : 800px) {
    .table{
        width: 50%;
        margin: 2rem auto 1rem;
    }
}