.ul{
    background-color: white;
    padding: 6px;
    box-shadow: 1px 1px 9px 2px rgba(128, 128, 128, 0.352);
    margin: 2rem auto;
    width: 100%;
    text-align: left;
    list-style: inside;
}

.div{
    width: 70%;
    margin: 0 auto;
}

.home{
    width: 100%;
    margin: 0 auto 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}


.child{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}

.table{
    width: 100%;
}

.h1{
    color: brown;
    text-transform: uppercase;
    text-align: center;
}

.naira{
    color: green;
    text-decoration-line: line-through;
    text-decoration-style: double;
}

.h3{
    margin: 0;
    font-weight: bold;
}

.th{
    width: 15%;

}

.th1{
    width: 50%;
}


.th4{
    width: 10%;
    color: brown;
}

.btn{
    width: 100%;
    background-color: antiquewhite;
    color: brown;
    border: none;
    height: 2rem;
    font-size: 1.3rem;
    outline: none;
    margin: .7rem 0 -1rem;
}

.span{
    color: black;
}

.li{
    list-style: none;
    margin: 0;
    font-weight: normal;
}

.li1{
    list-style: none;
    margin: 0 0 .5rem;
    font-weight: normal;
}

@media screen and (max-width : 1000px) {
    .child{
        width: 100%;
        padding: 0 1rem;
    }

    .div{
        width: 100%;
    }
}