.ul{
    background-color: white;
    padding: 6px;
    box-shadow: 1px 1px 9px 2px rgba(128, 128, 128, 0.352);
    margin: 2rem auto;
    width: 100%;
    text-align: left;
    list-style: inside;
}

.table{
    width: 100%;
}

.h1{
    color: brown;
    text-transform: uppercase;
    text-align: center;
}

.h3{
    color: brown;
    margin: 0;
}

.th{
    width: 20%;
    color: brown;
}

.th1{
    color: brown;
    width: 50%;
}

.th2{
    color: brown;
}

.th4{
    width: 10%;
    color: brown;
}

.btn{
    width: 100%;
    background-color: antiquewhite;
    color: brown;
    border: none;
    height: 2rem;
    font-size: 1.3rem;
    outline: none;
    margin: .7rem 0 -1rem;
}

.span{
    color: black;
}

.li{
    list-style: none;
    margin: 0;
}

.li1{
    list-style: none;
    margin: 0 0 .5rem;
}