.card {
width: 10rem;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
  }

  .mark {
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;
    height: 10%;
    width: 100%;
    font-size: 1.4rem;
  }

  .imagers {
    width: 9rem;
  }

.name {
    margin: 0;
    text-align: center;
    font-size: .5rem;
}

.price {
    font-size: 1.3rem;
    margin: 0 0 1rem;
}

.naira {
    text-decoration-style: double;
    text-decoration-line: line-through;
    color: green;
}

.div{
    margin: 1.5rem auto ;
    text-align: center;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
}
