.table {
    width: 100%;
}

.home {
    width: 100%;
    margin: 0 auto 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}

.child {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}

.div {
    width: 70%;
    margin: 0 auto;
}

.container {}


.ul {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-width:  0 0 1px ;
    margin: 0;
}

.images {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    width: 70%;
}

.tiny {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.para {
    align-self: flex-end;
}

.h1 {
    margin: 0 0;
}

.back {
    background-color: #dd1630;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    margin: 0 .1rem .5rem;
    display: block;
}

.biggy {
    display: block;
    text-align: center;
    font-size: 6rem;
    margin: 30% auto 0;
}

.anchor {
    color: blue;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.naira {
    color: green;
    text-decoration-line: line-through;
    text-decoration-style: double;
    margin-left: 1rem;
}

.span1{
    margin-left: 1rem;
}

.h2 {
    text-align: left;
    font-size: 1.3rem;
    margin: 2rem 1rem 1rem 0;
}

.h3 {
    font-size: 1.3rem;
    text-align: left;
    margin: 1rem 1rem 2rem 0;
}

.btn {
    width: 12rem;
    text-align: center;
    height: 3rem;
    border: none;
    background-color: #dd1630;
    color: white;
    font-size: 1.3rem;
}

.load {
    width: 12rem;
    text-align: center;
    height: 3rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.087);
    color: black;
    font-size: 1.3rem;
}

.btn1 {
    background-color: rgba(128, 128, 128, 0.399);
    height: 2rem;
    padding: 1rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.select {
    display: block;
    margin: .5rem 0;
    width: 4rem;
    background-color: rgba(128, 128, 128, 0.087);
    color: black;
    border: none;
    height: 2rem;
    text-align: center;
    outline: none;
}

.select:focus {
    border: none;
    outline: none;
}

.options {
    background-color: white;
    color: black;
}

.options:checked {
    background-color: #dd1630;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width : 600px) {
    .tiny{
        flex-direction: column;
    }

    .para{
        align-self: flex-start;
    }

    .images{
        gap: 10%;
    }

    .h1{
        font-size: 1.2rem;
    }

    .select{
        margin: 0;
    }

    .color{
        margin: .5rem 0;
    }

    .ul{
        padding: 2rem 0;
    }
}


@media screen and (max-width : 1000px) {
    .child {
        width: 100%;
        padding: 0 1rem;
    }

    .div{
        width: 100%;
        padding: 0 1rem;
    }

    .images{
        width: 80%;
    }

}