.table {
    width: 100%;
    text-align: left;
}

.ul {
    width: 100%;
    background-color: white;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.144);
    margin: 2rem  0;
    padding: 5px 5px ;
    position: relative;
    animation: mover;
    animation-duration: 1s;
}

.back{
    background-color: red;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
    margin: 0 .1rem .5rem ;
    display: block;
}

@keyframes mover {
    from {background-color: transparent; opacity: 0};
    to { opacity: 1};
}

.biggy {
    font-size: 6rem;
    margin: 30% auto 0;
}

.anchor {
    color: blue;
}

.div1 {
    text-align: center;
    height: 80vh;
}

.th {
    color: brown;
    width: 14%;
}

.th2 {
    color: brown;
    width: 10%;
}
.th3 {
    color: brown;
    width: 25%;
}

.th1 {
    color: brown;
    width: 45%;
}

.naira {
    color: green;
    text-decoration-line: line-through;
    text-decoration-style: double;
}

.h2 {
    text-align: left;
    margin: 2rem 1rem 1rem;
}

.h3 {
    text-align: left;
    margin: 1rem 1rem 2rem;
}

.btn {
    width: 12rem;
    text-align: center;
    height: 2.5rem;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.3rem;
}

.load {
    width: 12rem;
    text-align: center;
    height: 2.5rem;
    border: none;
    background-color: orange;
    color: black;
    font-size: 1.3rem;
}

.btn1 {
    width: 100%;
    text-align: center;
    height: 2rem;
    margin: 10px 0 -.3rem;
    border: none;
    background-color: antiquewhite;
    color:brown;
    font-size: 1.3rem;
    display: block;
}

.select {
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
}

.select:focus {
    border: none;
    outline: none;
}

.h1 {
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
    color: brown;
}

.div {
    padding: 5px;
    text-align: center;
}