.table {
    background-color: white;
    padding: 5px;
    box-shadow: 1px 1px 9px 2px rgba(128, 128, 128, 0.352);
    margin: 1.5rem auto;
    width: 100%;
    text-align: left;
    height: 7.5rem;
    position: relative;
    animation: mover;
    animation-duration: 1s;
}

@keyframes mover {
    from {background-color: transparent; opacity: 0};
    to { opacity: 1};
}

.h1 {
    color: brown;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem auto 0;
}

.btn {
    background-color: brown;
    width: 12rem;
    height: 2.5rem;
    color: white;
    font-size: 1.3rem;
    border: none;
    margin: 2rem auto .2rem;
}

.btn1 {
    background-color: antiquewhite;
    display: block;
    width: 100%;
    height: 2rem;
    color: brown;
    font-size: 1.3rem;
    border: none;
    margin: .5rem auto 0;
}

.td {
    width: 5%;
    color: brown;
}

.th1 {
    width: 15%;
    color: brown;
    margin-right: 5px;
}

.th2 {
    color: brown;
}

.th4 {
    width: 5%;
    color: brown;
}

.th5 {
    width: 15%;
    color: brown;
}

.naira{
    text-decoration-line:line-through ;
    text-decoration-style: double;
}

.th3 {
    color: brown;
    width: 30%;
}