.div {
    margin: 5rem auto;
    text-align: center;
    height: 30vh;
    width: 70%;
}

.home{
    width: 100%;
    margin: 0 auto 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}


.child{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}


.label {
    display: block;
    margin: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.input {
    display: block;
    margin: 1rem auto;
    width: 31rem;
    height: 3.7rem;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.087);
    padding-left: 1rem;

}

.input:focus {
    border: 1px solid black;
}

.btn {
    display: block;
    margin: 3rem auto;
    width: 10rem;
    height: 3rem;
    background-color:#dd1630;
    border: none;
    color: white;
    font-size: 1.3rem;
}

.btn2 {
    display: block;
    margin: 2rem auto;
    width: 10rem;
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    border: none;
    color: black;
    font-size: 1.3rem;
}

.btn1 {
    margin: 3rem 1rem;
    width: 5rem;
    height: 3rem;
    display: block;
    font-size: 1.3rem;
    color:white;
    background-color: #dd1630;
    border: none;
}


@media screen and (max-width : 1000px) {
    .child{
        width: 100%;
        padding: 0 1rem;
    }

    .input{
        width: 70%;
    }

    .div{
        width: 100%;
        padding: 0 1rem;
    }
}