.li{
    background-color:white;
    padding: 5px;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.352);
    list-style: none;
}

.div{
    width: 70%;
    margin: 0 auto;
}

.home{
    width: 100%;
    margin: 0 auto 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}


.child{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}

.h1{
    color: brown;
    text-align: center;
}

.table{
    width: 100%;
    text-align: left;
}

.th{
    width: 14%;
    text-transform: capitalize;
}

.th1{
    width: 53%;
    text-transform: capitalize;
}

.th2{
    width: 10%;
    text-transform: capitalize;
}

.th3{
    width: 25%;
    text-transform: capitalize;
}

.tr{
    text-transform: capitalize;
}

.spanner{
    color: black;
}

.h4{
    margin: .2rem ;
    font-weight: normal;
}

.span{
    font-weight: bold;
}

.span1{
    text-decoration-style: double;
    text-decoration-line: line-through;
}

@media screen and (max-width : 1000px) {
    .child{
        width: 100%;
        padding: 0 1rem;
    }

    .div{
        width: 100%;
    }

}