.container {
  width: 70%;
  margin: 0 auto 4rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: 15rem;
  grid-auto-flow: dense;
  transition: all .5s ease;
}

.heart {
  font-size: 1.3rem;
  margin-top: 1.4rem;
  padding: 0;
  z-index: 2;
  color: black;
}

.hate {
  font-size: 1.3rem;
  margin-top: 1.4rem;
  padding: 0;
  color: #dd1630;
  z-index: 2;
}

.dies {
  display: none;
}

.shade {
  position: fixed;
  left: 15%;
  margin: auto auto;
  width: 70%;
  top: 0;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: white;
  box-shadow: 0 0 1rem 2000rem rgba(0, 0, 0, 0.387);
  z-index: 5;
  animation: fader;
  animation-duration: 1s;
}

@keyframes fader {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.select {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  width: 4rem;
  background-color: #dd1630;
  color: white;
  border: none;
  height: 3rem;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.options {
  background-color: white;
  color: black;
  display: block;
  text-align: center;
}

.dam {
  display: flex;
  justify-content: space-between;
}

.ola {
  background-color: rgba(128, 128, 128, 0.229);
  height: 3rem;
  width: 24%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1.3rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90.7vh;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn9 {
  background-color: #dd1630;
  color: white;
  height: 3rem;
  border: none;
  width: 70%;
  float: right;
  text-transform: uppercase;
}

.center {
  align-self: center;
}

.icon3 {
  margin: 0 .4rem 0 0;
  color: white;
  background-color: rgb(183, 16, 16);
  padding: .7rem;
  border-radius: 100%;
  font-size: 1.1rem;
}

.icon4 {
  margin: 0 .4rem;
  color: white;
  background-color: rgb(10, 10, 120);
  padding: .7rem;
  border-radius: 100%;
  font-size: 1.1rem;
}

.icon5 {
  margin: 0 .4rem;
  color: white;
  background-color: rgb(100, 152, 230);
  padding: .7rem;
  border-radius: 100%;
  font-size: 1.1rem;
}

.icon6 {
  margin: 0 .4rem;
  color: white;
  background-color: rgb(73, 150, 73);
  padding: .7rem;
  border-radius: 100%;
  font-size: 1.1rem;
}


.div {
  grid-column: auto / span 2;
  grid-row: auto /span 2;
  background-image: url('../public/images/green-slip.jpeg');
  background-color: rgba(0, 0, 0, 0.409);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.features {
  margin: 0;
}

.h1 {
  margin: .5rem auto 0;
  font-size: 3rem;
}

.h1i {
  margin: 0 auto 1rem;
  font-size: 3rem;
}

.link {
  margin: 2rem auto 0;
  display: block;
  background-color: #dd1630;
  padding: 1rem;
  width: 15rem;
}

.p {
  text-align: center;
  margin: 0;
}

.trendy {
  text-align: center;
  margin: 0 0 1rem;
}

.div1 {
  background-image: url('../public/images/blue-bag.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.bags {
  color: white;
  width: 50%;
  margin-left: 2rem;
  text-transform: capitalize;
}

.div2 {
  background-image: url('../public/images/brown-slip.jpeg');
  background-position: center;
  background-size: cover;
  grid-row: auto /span 2;
  display: flex;
  align-items: flex-end;
}

.div3 {
  background-image: url('../public/images/belts.jfif');
  background-color: rgba(0, 0, 0, 0.409);
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.div4 {
  background-image: url('../public/images/shoes.jfif');
  background-color: rgba(0, 0, 0, 0.409);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.container1 {
  margin: 5rem auto;
  width: 70%;
}

.float {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1.5rem;
}



.section {
  width: 70%;
  height: 80rem;
  display: grid;
  margin: 4rem auto;
  grid-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-areas:
    'a a'
    'b c'
  ;
}

.container3 {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  background: url('../public/images/model.jpg');
  background-color: rgba(255, 255, 255, 0.482);
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
}

.container4 {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10%;
  padding-bottom: 10%;
  background: url('../public/images/green-bag-one.jpeg');
  background-color: rgba(0, 0, 0, 0.267);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  color: white;
}

.container5 {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10%;
  padding-bottom: 10%;
  background: url('../public/images/blue-bag.jpeg');
  background-color: rgba(0, 0, 0, 0.223);
  background-blend-mode: darken;
  color: white;
  background-position: center;
  background-size: cover;
}

.link1 {
  margin: 1rem 0;
  display: block;
  background-color: #dd1630;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.foot {
  width: fit-content;
  margin: 0 0 .5rem;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.fancy {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 0 0 1rem;
  width: 40%;
}

.fancy1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 0 0 1rem;
  width: 90%;
}

@media screen and (max-width : 600px) {
  .container {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: 12rem;
    grid-gap: .5rem;
  }

  .link{
    width: 12rem;
  }

  .link1{
    width: 90%;
  }

  .container1 {
    width: 100%;
    padding: 0 1rem;
  }

  .float {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .bags {
    font-size: 1.2rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .h1i {
    font-size: 2rem;
  }

  .div {
    grid-column: auto / span 3;
  }

  .div2 {
    grid-column: auto / span 2;
  }

  .div4 {
    grid-column: auto / span 3;
  }

  .section {
    width: 100%;
    padding: 0 1rem;
    height: 50rem;
  }

  .fancy {
    width: 70%;
    font-size: 1.5rem;
  }

}

@media screen and (max-width : 1000px) {
  .container {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    grid-gap: .5rem;
  }

  .container1 {
    width: 100%;
    padding: 0 1rem;
  }

  .section {
    width: 100%;
    padding: 0 1rem;
    height: 50rem;
  }

  .fancy {
    width: 70%;
    font-size: 1.7rem;
  }

  .fancy1 {
    font-size: 1.2rem;
    width: 100%;
  }
}