.div{
    text-align: center;
    margin: 0 auto 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
    color : brown;
}

.image{
    animation: rotate;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    border-style: solid;
    border-color : brown;
    border-width : 2px 2px 2px 0 ;
    width: 4rem;
    height : 4rem;
    overflow: hidden;
    margin: 0 auto;
}

@keyframes rotate {
    25% {transform: rotate(90deg)};
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}