.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.h2{
    text-align: center;
    margin: 2rem auto .1rem;
    color:brown;
}

.btn{
    color: white;
    background-color: red;
    width: 100%;
    outline: none;
    border: none;
    height:2rem;
    position: absolute;
    bottom: 0;
    margin: 1rem 0 0;
}

.load{
    color: black;
    background-color: orange;
    width: 100%;
    outline: none;
    border: none;
    height:2rem;
    position: absolute;
    bottom: 0;
    margin: 1rem 0 0;
  }