.input{
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem 1rem 0;
    accent-color: brown;
}

.label{
    font-size: 1.5rem;
}

.btn{
    background-color: red;
    border: none;
    width: 18rem;
    height: 2.5rem;
    font-size: 1.3rem;
    color: white;
    margin: 2rem auto 1rem;
}

.load{
    background-color: antiquewhite;
    border: none;
    width: 18rem;
    height: 2.5rem;
    font-size: 1.3rem;
    color: black;
    margin: 2rem auto 1rem;
}

.child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}


.div{
    text-align: center;
    width: 100%;
}

.h1{
    color: brown;
    padding-top: 3rem;
}

.anchor{
    font-size: 1.4rem;
    font-weight: bold;
}