.input{
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem 1rem 0;
    accent-color: brown;
}

.label{
    font-size: 1.5rem;
}

.btn{
    background-color: red;
    border: none;
    width: 40%;
    height: 2.5rem;
    font-size: 1.3rem;
    color: white;
    margin: 2rem auto 1rem;
}

.load{
    background-color: orange;
    border: none;
    width: 40%;
    height: 2.5rem;
    font-size: 1.3rem;
    color: black;
    margin: 2rem auto 1rem;
}


.div{
    text-align: center;
}

.h1{
    color: brown;
    padding-top: 3rem;
}

.anchor{
    font-size: 1.4rem;
    font-weight: bold;
}