.h1{
    margin: 0  0 2rem;
    font-weight: bold;
}

.home{
    width: 100%;
    margin: 0 auto 2rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}

.child{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}

.h3{
    width: 100%;
    display: block;
    text-align: center;
    margin: 1rem auto;
    font-weight: normal;
}

.div{
    width: 70%;
    margin: 0 auto;
}

.btn{
    display: block;
    width: 12rem;
    margin: 0 auto;
    text-align: center;
    height: 3rem;
    border: none;
    background-color: #dd1630;
    color: white;
    font-size: 1.3rem;
}

.naira{
    color: green;
    text-decoration-line: line-through;
    text-decoration-style: double;
}

.load{
    display: block;
    width: 12rem;
    margin: 0 auto;
    text-align: center;
    height: 3rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.087);
    color: black;
    font-size: 1.3rem;
}

.table {
    width: 100%;
    text-align: left;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.073);
    margin: 15px 0;
    padding: 5px;
}

.th {
    width: 17%;
    font-weight: normal;
}

.th9 {
    width: 20%;
    font-weight: normal;
}

.th2{
    font-weight: normal;
}

.th1 {
    width: 40%;
    font-weight: normal;
}

@media screen and (max-width : 1000px) {
    .child{
        width: 100%;
        padding: 0 1rem;
    }

    .div{
        width: 100%;
        padding: 0 1rem;
    }
}