.btn {
  width: 12rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: red;
  color: white;
  border: none;
}

.load {
  width: 12rem;
  height: 2.5rem;
  font-size: 1rem;
  background-color: antiquewhite;
  color: black;
  border: none;
}

.btn:active {
  border: none;
  outline: none;
}

.div{
    text-align: center;
    height: 60vh;
}

.h1 {
  color: brown;
  text-align: center;
  margin: 3rem auto 1rem ;
}

.table{
  text-align: center;
  margin: 0 auto 2rem;
  position: relative;
  animation: movers;
  animation-duration: 2s;
}

@keyframes movers {
  from {left: -1rem; opacity: 0};
  to {left: 0; opacity: 1};
}
