.input{
    display: block;
    margin: 2rem auto ;
    width: 31rem;
    height: 3.7rem;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.087);
    padding-left: 1rem;
    font-size: 1.2rem;
}

.home{
    width: 100%;
    margin: 0 auto 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}

.child{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}

.input:focus{
    outline-color: black;
    border: 1px solid black;
}

.div{
    text-align: center;
}

.label{
    display: block;
    text-align: left;
    margin: 0 15% -1rem;
    color: brown;
}

.btn{
    display: block;
    width: 13rem;
    height: 3rem;
    border: none;
    background-color: #dd1630;
    color: white;
    font-size: 1.3rem;
    margin: 3rem auto 0;
}

.load{
    display: block;
    width: 13rem;
    height: 3rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.087);
    color: black;
    font-size: 1.3rem;
    margin: 3rem auto 0;
}

.anchor{
    color: blue;
}

.form{
    margin: 2rem auto 1rem;
}


@media screen and (max-width : 600px) {
    .child{
        width: 100%;
        padding: 0 1rem;
    }

    .input{
        width: 70%;
    }
}