.input1 {
    width: 70%;
    height: 3rem;
    margin: 1rem;
    border: none;
    outline: 2px solid orange;
    padding-left: 1rem;
    position: relative;
    animation: movers;
    animation-duration: 2s;
}

@keyframes movers {
    from {left: -1rem; opacity: 0};
    to {left: 0; opacity: 1};
}

.form{
    margin: 2rem auto 1rem;
}

.input1:focus {
    outline-color: red;
    border-color: red;
}

.div {
    text-align: center;
    text-align: center;
    padding: 1px 0 0;
}

.label{
    display: block;
    margin: 0 15% -1rem;
    color: brown;
    text-align: left;
}

.btn {
    width: 13rem;
    height: 2.5rem;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    margin: 1rem auto 0;
    display: block;
}

.load {
    display: block;
    width: 13rem;
    height: 2.5rem;
    border: none;
    background-color: orange;
    color: black;
    font-size: 1.3rem;
    margin: 1rem auto 0;
}

.h1{
    color: brown;
}