.home {
    width: 100%;
    margin: 0 auto 3rem;
    background-color: rgba(128, 128, 128, 0.087);
    height: 3rem;
}

.h1{
    margin: 0;
}

.child {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
}

.shade {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    background-color: white;
}

.select {
    margin: 1rem 0;
    width: 4rem;
    background-color: #dd1630;
    color: white;
    border: none;
    height: 3rem;
    text-align: center;
    outline: none;
    border-radius: 0;
    text-align: center;
    -webkit-appearance: none;
    text-align-last:center;
    -moz-text-align-last: center;
}

.options {
    background-color: white;
    color: black;
    display: block;
    text-align: center;
}

.dam {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.ola {
    background-color: rgba(128, 128, 128, 0.229);
    height: 3rem;
    width: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.3rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn9 {
    background-color: #dd1630;
    color: white;
    height: 3rem;
    border: none;
    width: 10rem;
    float: right;
    text-transform: uppercase;
}

.center {
    align-self: center;
}

.icon3 {
    margin: 0 .4rem 0 0;
    color: white;
    background-color: rgb(183, 16, 16);
    padding: .7rem;
    border-radius: 100%;
    font-size: 1.1rem;
}

.icon4 {
    margin: 0 .4rem;
    color: white;
    background-color: rgb(10, 10, 120);
    padding: .7rem;
    border-radius: 100%;
    font-size: 1.1rem;
}

.icon5 {
    margin: 0 .4rem;
    color: white;
    background-color: rgb(100, 152, 230);
    padding: .7rem;
    border-radius: 100%;
    font-size: 1.1rem;
}

.icon6 {
    margin: 0 .4rem;
    color: white;
    background-color: rgb(73, 150, 73);
    padding: .7rem;
    border-radius: 100%;
    font-size: 1.1rem;
}

@media screen and (max-width : 600px) {
    .shade{
        flex-direction: column;
    }

    .column{
        height: 100%;
        gap: 2rem;
    }
}

@media screen and (max-width : 1000px) {
    .child {
        width: 100%;
        padding: 0 1rem;
    }

    .shade{
        width: 100%;
        padding: 0 1rem;
        flex-direction: column;
    }

    .column{
        height: 100%;
        gap: 2rem;
    }
}