.show {
    margin: 1rem 0;
}

.back {
    color: white;
    background-color: red;
    border: none;
    width: 7rem;
    height: 2rem;
    margin: 1rem 0;
}

.product {
    color: brown;
    margin: 1.5rem auto .1rem;
    text-align: center;
}

.h2 {
    color: brown;
    text-align: center;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
    position: relative;
    animation: mover;
    animation-duration: 1s;
}

@keyframes mover {
    from {background-color: transparent; opacity: 0};
    to { opacity: 1};
}

@keyframes movers {
    from {left: -10rem; opacity: 0};
    to {left: 0; opacity: 1};
}

.floater {
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;
    animation: movers;
    animation-duration: 1s;
}

.img {
    margin: 0 0 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
}

.span{
    color: green;
    text-decoration-style: double;
    text-decoration-line: line-through;
}

.table{
    text-align: left;
    width: 100%;
}

.th{
    width: 30%;
    color: brown;
    border-width: 0 5px 0 0;
    border-color: brown;
    border-style: solid;
}

.td{
   padding-left: 10%;
}


.h3 {
    margin: 0;
}

.main {
    margin: 2rem 0 1rem;
    padding: .5rem 1rem;
}

.btn {
    width: 7rem;
    height: 2rem;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    margin: 1rem 0 0;
    text-align: center;
}

.select{
    border: none;
    outline: none;
    background-color: transparent;
}

.loading {
    width: 7rem;
    height: 2rem;
    background-color: orange;
    color: black;
    outline: none;
    border: none;
    font-size: 1rem;
    margin: 1rem 0 0;
}

.row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.contain {
    margin: 0 1rem 1rem;
    background-color: white;
    height: 18rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.image {
    width: 7rem;
}

.btn1 {
    background-color: red;
    color: white;
    border: none;
    height: 2rem;
}

.load {
    background-color: orange;
    color: black;
    border: none;
    height: 2rem;
}

.p1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.p2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.3rem;
    position: absolute;
    bottom: 13%;
    left: 45%;
    margin:0 -25% 0;
}

@media screen and (min-width : 800px) {
    .image {
        width: 9rem;
    }

    .contain{
        height: 20rem;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        align-items: center;
    }

    .img{
        margin: 0 1rem 0 0;
        width:fit-content;
        text-align: left;
    }

    .floater{
        margin: 0 2rem;
        text-align: left;
        width: 50%;
    }

    .table{
        text-align: left;
        width: 100%;
    }
}